<div class="container">

	<div class="col-emails-object">

		<h1>Your mails</h1>

		<ul class="emails-object">
			<% @emails.each do |email| %>
			  <li class="email<%=email.id%>-object"><%= link_to email.object, email, id: "email-object", method: :get, remote: true%></li>
			  </br>
			<% end %>
		</ul>
	</div>

	<div class="col-emails-body">
		<% @emails.each do |email| %>
			<h1 id="email<%=email.id%>-object"><%= email.object %></h1>
			<p id="email<%=email.id%>-body"><%= email.body %></p>
			<button><%= link_to "Delete", email, method: :delete, data: {confirm: "Are you sure?"}, remote: true %></button>
		<% end %>
	</div>

</div>